{% extends 'base.html.twig' %}

{% block title %}Borrow index{% endblock %}

{% block body %}
    <h1>Borrow index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartDate</th>
                <th>EndDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for borrow in borrows %}
            <tr>
                <td>{{ borrow.id }}</td>
                <td>{{ borrow.startDate ? borrow.startDate|date('Y-m-d') : '' }}</td>
                <td>{{ borrow.endDate ? borrow.endDate|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_borrow_show', {'id': borrow.id}) }}">show</a>
                    <a href="{{ path('app_borrow_edit', {'id': borrow.id}) }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
