{% extends 'base.html.twig' %}

{% block title %}Collection index{% endblock %}

{% block body %}
    <h1 class="text-2xl ml-4">Mes collections : </h1>

    <div class="w-full flex flex-col ">
        {% for collection in collections %}
            <div class="bg-lightenDarkBlue w-1/2 p-4 mt-4 self-center">
                <h2 class="text-2xl">{{ collection.name }}</h2>
                <p>{{ collection.category.name }}</p>
                <div class="mt-4 w-full flex-wrap flex">
                    <a href="{{ path('app_collection_show', {'id': collection.id}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Details</a>
                    <a href="{{ path('app_collection_edit', {'id': collection.id}) }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Editer</a>
                    {{ include('collection/_delete_form.html.twig') }}
                </div>
            </div>
        {% else %}
            <p>Vous avez aucunne collections</p>
        {% endfor %}
        <a href="{{ path('app_collection_new') }}" class="mt-20 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-fit">Créer une nouvelle collection</a>
    </div>

{% endblock %}
