{% extends 'base.html.twig' %}

{% block title %}Collection{% endblock %}

{% block body %}
    <h1>Details de la collection</h1>

<div class="w-full flex flex-col ">
        <div class="bg-lightenDarkBlue w-1/2 p-4 mt-4 self-center">
            <h2 class="text-2xl">{{ collection.name }}</h2>
            <p>{{ collection.category.name }}</p>
            <div class="mt-4">
                <a href="{{ path('app_collection_edit', {'id': collection.id}) }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Editer</a>
                <a href="{{ path('app_collection_delete', {'id' : collection.id}) }}" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Supprimer</a>
            </div>

            <div class="mt-4">
                <h2 class="text-2xl">Items de la collection: </h2>
                {% for item in collection.items %}
                    <div class="mt-10">
                        <p>Titre: {{ item.title }}</p>
                        <p>Auteur: {{ item.author }}</p>
                        <p>Editeur: {{ item.editor }}</p>
                        <p>Dev: {{ item.dev }}</p>
                        <p>Plateforme: {{ item.platform }}</p>
                        <p>Nombre de joueurs: {{ item.nbPlayer }}</p>
                        <p>Fabriquant: {{ item.nbPlayer }}</p>
                        <p>Catégorie: {{ item.category.name }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
</div>
<a href="{{ path('app_collection_index') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Retour arrière (page des collections)</a>

{% endblock %}
