{% extends 'base.html.twig' %}

{% block title %}Item index{% endblock %}

{% block body %}

    <h1 class="text-2xl ml-4">Item index</h1>
    <div class="w-full flex flex-col ">
            {% for item in items %}
                <div class="bg-lightenDarkBlue w-1/2 p-4 mt-4 self-center">
                    <p>Id: {{ item.id }}</p>
                    <p>Titre: {{ item.title }}</p>
                    <p>Auteur: {{ item.author }}</p>
                    <p>Editeur: {{ item.editor }}</p>
                    <p>Développeur: {{ item.dev }}</p>
                    <p>Plateforme: {{ item.platform }}</p>
                    <p>Nb joeurs: {{ item.nbPlayer }}</p>
                    <p>Fabriquant: {{ item.maker }}</p>
                    <div class="mt-4">
                        <a href="{{ path('app_item_show', {'id': item.id}) }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">show</a>
                        <a href="{{ path('app_item_edit', {'id': item.id}) }}" class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800">Editer</a>
                        <a href="{{ path('app_borrow_new_test', {'id': item.id}) }}" class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg text-sm px-5 py-2.5 mb-2 dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-900">Emprunter</a>
                    </div>
                </div>
            {% else %}
                <p>Aucun item n'a été trouvé</p>
            {% endfor %}
        <a href="{{ path('app_item_new') }}" class="mt-20 w-fit text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create new</a>
    </div>

{% endblock %}
