{% extends 'base.html.twig' %}

{% block title %}Item{% endblock %}

{% block body %}
    <h1>Item</h1>
    <div class="w-full flex flex-col ">
        <div class="bg-lightenDarkBlue w-1/2 p-4 mt-4 self-center">
            <h2 class="text-2xl">Titre: {{ item.title }}</h2>
            <p>Id: {{ item.id }}</p>
            <p>Auteur: {{ item.author }}</p>
            <p>Editeur: {{ item.editor }}</p>
            <p>Développeur: {{ item.dev }}</p>
            <p>Plateforme: {{ item.platform }}</p>
            <p>Nb joueurs: {{ item.nbPlayer }}</p>
            <p>Fabriquant: {{ item.maker }}</p>
            <div class="mt-4">
                <a href="{{ path('app_item_edit', {'id': item.id}) }}" class="ml-4">Editer</a>
                {{ include('item/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <a href="{{ path('app_item_index') }}" class="ml-4">Retour arrière (liste items)</a>
{% endblock %}
